<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
        body {font-family: 'Didact Gothic', sans-serif;}
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>DE FA Calc</title>
</head>
<body class="bg-gradient-to-t from-teal-600 to-white h-screen">
    <!-- html element represnting the app, referenced by 'el' -->
<div id="app">
    <div class="">
        <div class="flex justify-center flex-col items-center h-[4rem] border-b-2  items-center border-orange-500">
            <p class="font-semibold">Dual Enrollment</p>
            <p class="font-semibold"> Financial Aid Calculator</p>
        </div>
        <div class="flex flex-col items-center mt-[2rem]">
            <input v-model="creditHours" type="text" placeholder="Credit hours" class="border w-[10rem]">
            <input v-model="district" type="text" placeholder="District" class="border w-[10rem]">
            <div class="flex">
                <p class="pr-[1rem]">Out of State?</p>
                <input type="checkbox" value="foo" :checked="!!outOfState" @change="e => outOfState = e.target.checked">

            </div>
            <button @click="calculate" class="border-1 rounded-[0.8rem] h-[2rem] w-16 bg-slate-300">Submit</button>
        </div>
    </div>

    <div  class="flex justify-center">
        <textarea disabled class="h-full bg-transparent text-center border border-orange-500 mt-[0.5rem] p-4" name="" id="hidden-text" cols="40" rows="17"></textarea>

    </div>
</div>



<script>
let app = new Vue({
    // query selector of the html element representing the app
    el: '#app',
    // app data
    // data stored with the app
    // for displaying in the page: {{message}}
    // for getting input from the user: v-model="message"
    // for modifying in methods: this.message
    data: {
    message: 'hello world!',
    creditHours: '',
    district: '',
    dualFeeExemptions: ['Hampton', 'Jasper', 'Polaris'],
    privateInstitutions: ['Homeschool', 'Private', 'Other'],
    lotteryTuitionAssistance: 85,
    esserFund: 75,
    dualFeeWaiverBeaufort: 31,
    dualFeeWaiverPrivateInstitutions: 41,
    outOfState: false

    },
    // app methods
    // can be called from events in the page: v-on:click="method"
    // can be called from other methods: this.method()
    // can be called from outside the app: app.method()
    methods: {
    sayHello: function() {
        console.log(this.outOfState)
    },
    makeProper: function(word){
        let firstLetter = word.charAt(0)
        firstLetter = firstLetter.toUpperCase()
        let remainingLetters = word.slice(1)
        let properWord = firstLetter + remainingLetters
        return properWord
    },
    
    calculate: function(){
        this.district = this.makeProper(this.district)
        let totalSum = 0
        let lotteryTotal = 0
        let esserTotal = 0
        let esserString = 'Total'
        let dualFeeTotal = 0
        let debugString = '-------------\n'


        // Lottery determination
        if (this.outOfState)
        {
            debugString += 'Exempt from lottery because out of state.\n'
        }
        else if (this.creditHours > 5)
        {
            lotteryTotal += this.creditHours * this.lotteryTuitionAssistance
        }
        else if (this.creditHours < 6)
        {
            debugString += 'Not enough credit hours for lottery tuition.\n'
        }


        // Esser determination
        if (this.privateInstitutions.includes(this.district))
        {
            debugString += 'No esser assistance because distract was private.\n'
        }
        else
        {
            esserTotal += this.creditHours * this.esserFund
        }


        // Dual Fee determination
        if (this.dualFeeExemptions.includes(this.district))
        {
            debugString += `Dual fee was exempted because district was ${this.district}.\n`
        }
        else if (this.district == 'Beaufort')
        {
            dualFeeTotal += this.creditHours * this.dualFeeWaiverBeaufort
        }
        else if (this.privateInstitutions.includes(this.district))
        {
            dualFeeTotal += this.creditHours * this.dualFeeWaiverPrivateInstitutions
        }
        else{
            debugString += 'SPELLING ERROR!!!\n'
        }

        totalSum += lotteryTotal + esserTotal + dualFeeTotal

        if (this.dualFeeExemptions.includes(this.district))
        {
            esserString = 'covers remainder of balance.'
            esserTotal = ''
        }


        let documentLiteral = `
Credit Hours ${this.creditHours}
Total ${totalSum}
Lottery Total ${lotteryTotal}
Esser ${esserString} ${esserTotal}
Dual Fee Total ${dualFeeTotal}
        `
        document.querySelector('#hidden-text').innerHTML = debugString + '-------------\n' + documentLiteral
    }
    },
    // created - a lifecycle hook
    // called when the app is created
    // useful for setting up app data
    created: function() {
    console.log(this.message)
    }
})
</script>
    
</body>
</html>